{% extends 'base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4">О нашей компании</h1>
    <p>Мы — ваш надежный партнер в мире аренды недвижимости! Более 1000 довольных клиентов уже нашли свое идеальное жилье с нашей помощью.</p>
    <p>Мы предлагаем гарантию качества, прозрачные условия и полную поддержку на всех этапах аренды. Наши квартиры проходят тщательную проверку, чтобы вы могли чувствовать себя в безопасности и комфорте.</p>
    <p>Наша миссия — сделать процесс аренды простым и удобным. Доверьтесь нам, и мы найдем для вас идеальный дом!</p>
    <div class="back-button">
        <a href="{% url 'task-list' %}" class="btn btn-secondary mt-3">Вернуться на главную</a>
    </div>
</div>
{% endblock %}